.TodoPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  color: #453c52;
}
.TodoPage-title {
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #453c52;
  letter-spacing: 0.14px;
}
.TodoSection-title {
  margin-top: 15px;
  font-size: 34px;
  line-height: 1.4;
  color: #453c52;
}

/* .AddTodo{

} */

.AddTodo-text {
  font-family: OpenSans;
  font-size: 14px;
  color: #726a7e;
  letter-spacing: 0.1px;
}
.AddTodo-date {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  border-radius: 4px;
  color: #453c52;
}

.AddTodo-button {
  background: #48bb78;
  border-radius: 4px;
}

.TodoSection {
  margin-top: 12px;
}
.TodoSectionTitle {
  display: flex;
}
.TodoSectionTitle-text {
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #453c52;
  letter-spacing: 0.1px;
}
.TodoSectionTitle-remainingcount {
  font-family: OpenSans;
  font-size: 10px;
  color: #453c52;
  letter-spacing: 0.09px;
  margin-left: 5px;
  margin-top: 2px;
}

.TodoItem {
  margin-left: 10px;
}
.TodoItem-container {
  display: flex;
  font-family: OpenSans;
  font-size: 12px;
  color: #453c52;
  letter-spacing: 0.1px;
}
.TodoItem-checkbox {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  border-radius: 4px;
}
.TodoItem-overduelabel {
  font-family: OpenSans;
  font-size: 10px;
  color: #c53030;
  letter-spacing: 0.09px;
  margin-left: 5px;
  margin-top: 4px;
}
.TodoItem-text {
  margin-top: 3px;
}
.TodoItem-delete {
  /* <border: 1px solid #453C52; */
  margin-left: 5px;
  margin-top: 3px;
}

.TodoItem-duemonth {
  font-size: 10px;
  letter-spacing: 0.09px;
  margin-left: 5px;
  margin-top: 5px;
}
